*{
/* background-color: black; */
color: white;
margin: 0px;
padding: 0px;
font-family: Roboto;
}
header{
background-color: grey;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
width: 100vw;
border: 1px solid white;
height: 05vh;
align-items: center;
position: fixed;
justify-items: center;
}

#foto{
    border-radius: 50%;
}

main {
background-color: black;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
align-items: center;
min-height: 100vh;
}

section {
min-height: 100vh;
padding-top: 10vh;
}

#fotoEdescricao{
display: grid;
grid-template-columns: 1fr 1fr;
}

.imagem-responsiva{
width: 60%;
padding: 30px;
}

#descricao{
align-self: center;


}


footer {
background-color: rgb(233, 191, 94);
display: grid;
grid-template-columns: 50% 1fr 1fr 1fr 1fr ;
width: 100vw;
border: 1px solid white;
height: 05vh;
align-items: center;
}

.rodape{
color: black;


}